<!-- Copyright 2021 Oliver Smith
     SPDX-License-Identifier: GPL-3.0-or-later -->

	<p class="text">
		This is the desktop version of Firefox, but with a
		<a href="https://gitlab.com/postmarketOS/mobile-config-firefox">
			mobile-friendly configuration</a>. Try zooming and
		scrolling with your fingers!
	</p>
	<h2>How to install add-ons</h2>
	<p class="text">
	Use the official
	<a href="https://addons.mozilla.org/">add-on website</a>
	from Mozilla. Ignore the note about "Add-ons Manager" and hit "Download
	file" to install add-ons. Take care, some add-ons may not be respectful
	of your privacy. Here is a free software add-on that we trust:
	</p>
	<ul>
		<li> <a href="https://addons.mozilla.org/en-US/addon/ublock-origin/">uBlock Origin</a>:
			a wide-spectrum content blocker, that prevents most
			websites from wasting <i>your</i> resources (time,
			traffic, battery, CPU and RAM).
	</ul>

	<h2>How to change settings</h2>
	<p class="text">
	Read on to set a different homepage, search engine or change other
	options. Tap the collapsed menu icon on the top right, then select
	<i>Preferences</i>. Next, tap the category of the setting you want to
	change on the left &mdash; house for <i>Homepage</i>, magnifying glass
	for <i>Search</i>. Finally, change the desired setting on the right.
	</p>
</body>
</html>
