@-moz-document url("about:preferences"), url-prefix("about:preferences") {
    @media (max-width: 700px) {
        /* avoid that sidebar is too wide */
        :root {
            --in-content-sidebar-width: 50px !important;
        }

        #categories > .category {
            margin-inline-start: auto !important;
            padding-inline: auto !important;
        }

        .category-name {
            display: none !important;
        }

        .sidebar-footer-list {
            margin-inline: auto !important;
            padding-inline: auto !important;
        }

        .sidebar-footer-label {
            display:none !important;
        }
    }

    @media (max-height: 400px) {
        #categories {
            margin-top: 8px !important;
        }
    }
}
